<div class="row feature-row" style="max-width:1000px;margin:3em auto;">

  <p style="max-width:700px;margin:auto auto 50px auto;text-align:center;font-size:2em;font-weight:500">
     <span class="colored" style="font-size:0.7em">FAQs</span><br>
     Frequently Asked Questions (FAQs)
  </p>
  <br>

<button class="accordion_new">Who is the Acsend Retreat for?</button>
<div class="panel">
<p>
  	<ul>
<li>For design leaders </li>
<li>Between the age of 30 to 50; who often feel unfulfilled even after slaying at work</li>
<li>Who have been upskilling, staying current, networking, they’ve cultivated hobbies, some have families, they’ve been traveling, they’ve met their financial goals too and yet they feel like something is missing</li>
<li>Who are more often than not in survival mode, and haven’t taken the time to be with themselves</li>
<li>Who are dealing with neurodivergence or feel like they need to heal from career trauma</li>
<li>who have too many avenues to choose from and feel lost</li>

  	</ul>
</p>

</div>

<button class="accordion_new">Will there be follow-up resources after the retreat?</button>
<div class="panel">
	<p>
Ascend is not just about retreats, we are designing a space where womxn can redefine success on their own terms, heal from bad experiences and realize that there is so much more to their life than their job. We are building a nurturing community where womxn can be free from societal expectations, rewrite their narratives, reclaim their passion and cultivate a deeper sense of self worth. In the community we have lined up engaging and interacting activities and sessions that will help you connect with yourself better.
	</p>
</div>

<button class="accordion_new">Are there any prerequisites for attending the retreat?</button>
<div class="panel">
  <p>No, there are no prerequisites as such. The sessions in the workshop are created in a manner that would introduce you to the basics you need to know. The yoga we'll practice during the session won't be difficult either.</p>
</div>

<button class="accordion_new">What would be the format of the retreat?</button>
<div class="panel">
  <p>The workshops would be conducted over zoom. They would be live sessions.</p>
</div>

<button class="accordion_new">What are the values and vision behind Ascend?</button>
<div class="panel">
<p><b>Vision:</b> <br>
A world with empowered women leaders who understand their value and have the confidence to pioneer their own path. 
</p>
<p>
<b>Mission:</b>
At our core, we are dedicated to providing women leaders with the resources, support, and inspiration they need to embrace their value and boldly pioneer their unique paths to success. We strive to support and nurture their creative energies, helping to regulate their nervous systems and foster innovation and growth.
</p>
<p>
<b>Values:</b>
Empowerment: We believe in empowering women leaders to embrace their strengths and capabilities.
Confidence: We foster an environment where women feel empowered to assert themselves and take ownership of their journeys.
Authenticity: We encourage authenticity and celebrate the diversity of experiences and perspectives within our community.
Support: We are committed to providing unwavering support to women leaders as they navigate their paths to success.
</p>

</div>

<button class="accordion_new">What will be the takeaways from the retreat?</button>
<div class="panel">
	<p>Participants can expect 

<ul>
<li>To identify their core values and align it to their career goals.</li>
<li>To channel awareness into their career planning.</li>
<li>To identify where one is misusing their energy and redirect it.</li>
<li>To get back in touch with their creative side.</li>
</ul>

</p>

</div>


</div>

<script>
  var acc = document.getElementsByClassName("accordion_new");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.display === "block") {
        panel.style.display = "none";
      } else {
        panel.style.display = "block";
      }
    });
  }
</script>

 <style>
    .accordion_new {
      background-color:#ffffff !important;
      font-size: 1.2em;
      font-weight: 500;
      color:;
      cursor: pointer;
      padding: 1em;
      margin: 1em auto 0em auto;
      width: 100%;
      text-align: left;
      border: none;
      outline: none;
      transition: 0.4s;
    }
    .accordion_new:hover {
      background-color: #ddd;
    }
    .panel {
      padding: 1em;
      background-color: white;
      display: none;
      overflow: hidden;
      font-size: 1.1em;
    }

   .panel li {
    font-size: 1em;
    margin-bottom: 10px;
    list-style-type: circle;
 }
  </style>