<div class="container">
          <div class="position-absolute z-index--1 end-0 d-none d-lg-block"><img src="assets/img/category/shape.svg" style="max-width: 200px" alt="service" /></div>
          <div class="mb-7 text-center">
            <h5 class="text-secondary">FREE YOUR CALENDAR</h5>
            <h3 class="fs-xl-10 fs-lg-8 fs-7 fw-bold font-cursive text-capitalize">Ascend Retreat schedule</h3>
             <p class="mb-4 fw-medium sub-heading">Here'a full list of sessions & activities across all 4 days (2 weekends)</p>
         </div>

  
  <div class="row">
  	
  	<img class="col-md-6 " src="images/weekend1.png" alt="schedule for 1st weekend" />
  	<img class="col-md-6 " src="images/weekend2.png" alt="schedule for 2nd weekend" />
  
  </div>
  

  <br>

    

</div>