
  <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <nav class="navbar navbar-expand-lg navbar-light fixed-top d-block" data-navbar-on-scroll="data-navbar-on-scroll">
        <div class="container"><a class="navbar-brand" href="/"><img src="images/logo.png" width="150" alt="logo" /></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"> </span></button>
          <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto pt-2 pt-lg-0 font-base align-items-lg-center align-items-start">
                           <li class="nav-item px-3 px-xl-4"><a class="btn btn-primary order-1 order-lg-0 fw-medium" href="https://us06web.zoom.us/meeting/register/tZcud-2qqT0oHd3UO0zrnw-RO0W6HR5euA1f#/registration" target="blank">Free Session <i class="bi-arrow-up-right"></i></a></li>
             <!--  <li class="nav-item dropdown px-3 px-lg-0"> <a class="d-inline-block ps-0 py-2 pe-3 text-decoration-none dropdown-toggle fw-medium" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">EN</a> -->
                <ul class="dropdown-menu dropdown-menu-end border-0 shadow-lg" style="border-radius:0.3rem;" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#!">EN</a></li>
                  <li><a class="dropdown-item" href="#!">BN</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <section style="padding-top: 7rem;padding-bottom: 7em;">
        <div class="bg-holder" style="background-image:url(images/hero-bg.svg);">
        </div>
        <!--/.bg-holder-->

        <div class="container hero-container">
          <div class="row align-items-center">
<!--             <div class="col-md-5 col-lg-6 order-0 order-md-1 text-end"><img class="pt-7 pt-md-0 hero-img" src="assets/img/hero/hero-img.png" alt="hero-header" /></div> -->
            <div class="col-md-12 col-lg-12  text-center py-6" style="text-align:center;">
              <h4 class="fw-bold mb-3">2-Weekender Online Retreat for Design Leaders</h4>
              <h1 class="hero-title" style="font-family:'Zodiak', serif;font-weight:900;"><span class="colored">Elevate Your Career Wellness</h1>
              <p class="mb-4 fw-medium sub-heading">Discover fulfilment in design leadership with Ascend. Let your body, mind and soul guide your career journey.
</p>  

              <div class="text-center"> <a class="btn btn-primary btn-lg primary-btn-shadow" href="https://us06web.zoom.us/meeting/register/tZcud-2qqT0oHd3UO0zrnw-RO0W6HR5euA1f#/registration" target="blank" role="button" >Unlock Ascend <i class="bi-arrow-up-right"></i></a> <br>

              </div>
              <p style="text-align:center;margin-top: 1em;">Join our Free info session. ☝️Register Now!</p>
            </div>
          </div>
        </div>
      </section>


     <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="pt-5 pt-md-9 dark-section" id="service">

        <div class="container" >
          <div class="position-absolute z-index--1 end-0 d-none d-lg-block"><img src="assets/img/category/shape.svg" style="max-width: 200px" alt="service" /></div>
          <div class="mb-7 text-center">
            <h3 style="color:#fff" class="fs-xl-10 fs-lg-8 fs-7 fw-bold font-cursive text-capitalize">What is ascend?</h3>
             <p style="color:#fff;font-weight:400;" class="mb-4 sub-heading">
              A guidance and support system to achieve your career ambitions from a place of balance, peace and alignment.</p>
              <p style="color:#fff;font-weight:400;" class="mb-4 sub-heading">
Ascend offers retreats that foster transformative journeys designed exclusively for creative leaders seeking to break free from the confines of conventional career paths and societal expectations. Imagine a space where your inner ambitions, the depths of your soul's calling, and your unique creative essence converge to unlock a new paradigm in your career. 
</p>
<p style="color:#fff;font-weight:400;" class="mb-4 sub-heading">
Aim to centre yourself and embody the best version of you as you redefine 'Career' as your life's work with Ascend.
</p>



          </div>
          
          <div class="text-center"> <a class="btn btn-secondary btn-lg primary-btn-shadow" href="https://us06web.zoom.us/meeting/register/tZcud-2qqT0oHd3UO0zrnw-RO0W6HR5euA1f#/registration" target="blank" role="button" >Join a Free Session <i class="bi-arrow-up-right"></i></a> <br>

              </div>
              <p style="text-align:center;margin-top: 1em;">April 27th, Saturday. ☝️Register Now!</p>

          </div>
        </div><!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->

      <section class="pt-5 dark-section" id="destination" style="margin-bottom:4em">
         <video src="images/ascendvideo.mp4" loop="true" controls="false" muted autoplay="true"></video> 
      </section>

      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="pt-5 dark-section" id="destination" style="margin-bottom:4em">

        <div class="container" style="">
          
          <div class="mb-7 text-center">
            <h5 class="text-secondary">United by a common purpose</h5>
            <h3 class="fs-xl-10 fs-lg-8 fs-7 fw-bold font-cursive text-capitalize" style="color:#fff">Meet your guides</h3>
          </div>
          <div class="row">
            <div class="col-md-3 mb-4">
              <div class="card overflow-hidden shadow"> <img class="card-img-top" src="images/Ashima.jpg" alt="Ashima Sood" />
                <div class="card-body py-4 px-3">
                  <div class="d-flex align-items-center" style="margin-bottom: 1em;"><span class="fs-0 fw-medium">Hosted by</span></div>

                  <div class="d-flex flex-column flex-lg-row justify-content-between mb-3">
                    <h4 class="text-secondary fw-medium"><span class="link-900 text-decoration-none stretched-link" href="">Ashima Sood / The UX Guys</span></h4>
                    
                  </div>
                  <p>This retreat embodies all that she values - creativity, ambition, and peace - as an architect, advocate, mentor, business owner, and yoga teacher.</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 mb-4">
              <div class="card overflow-hidden shadow"> <img class="card-img-top" src="images/heba.png" alt="Heba Abdul" />
                <div class="card-body py-4 px-3">
                  <div class="d-flex align-items-center" style="margin-bottom: 1em;"><span class="fs-0 fw-medium">Futures Guide</span></div>

                  <div class="d-flex flex-column flex-lg-row justify-content-between mb-3">
                    <h4 class="text-secondary fw-medium"><span class="link-900 text-decoration-none stretched-link" href="">Heba Abdul / BetterFlow</span></h4>
                   
                  </div>
                   <p>Heba, a futurist with a Design Management background, helps you discover your authentic values and backcast your career path.</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 mb-4">
              <div class="card overflow-hidden shadow"> <img class="card-img-top" src="images/Naina.jpg" alt="Naina Bajaria Mishra" />
                <div class="card-body py-4 px-3">
                  <div class="d-flex align-items-center" style="margin-bottom: 1em;"><span class="fs-0 fw-medium">General Meditations by</span></div>

                  <div class="d-flex flex-column flex-lg-row justify-content-between mb-3">
                    <h4 class="text-secondary fw-medium"><span class="link-900 text-decoration-none stretched-link" href="">Naina Bajaria Mishra / Naina Ayurveda</span></h4>
                    
                  </div>
                  <p>An ayurvedic consultant, guides clients to clarity, strength, and empowerment in body, mind, and spirit.</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 mb-4">
              <div class="card overflow-hidden shadow"> <img class="card-img-top" src="images/meenakshi.png" style="200px" alt="Meenakshi" />
                <div class="card-body py-4 px-3">
                  <div class="d-flex align-items-center" style="margin-bottom: 1em;"><span class="fs-0 fw-medium">Asanas by</span></div>

                  <div class="d-flex flex-column flex-lg-row justify-content-between mb-3">
                    <h4 class="text-secondary fw-medium"><span class="link-900 text-decoration-none stretched-link">Meenakshi Malhotra / Samatvam Yoga Instructor</span></h4>

                  </div>
                  <p>She traded corporate life for Yoga, and now has over 15 years of experience leading students to a deeper mind-body awareness.</p>
                </div>
              </div>
            </div>
          </div>
        </div><!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->




 <%= render "homes/schedule_images" %>



      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="pt-5 pt-md-9" id="service">

        <div class="container">
         
          <div class="mb-7 text-center">
            <h5 class="text-secondary">WHY ASCEND?</h5>
            <h3 class="fs-xl-10 fs-lg-8 fs-7 fw-bold font-cursive text-capitalize">Built on core values</h3>
             <p class="mb-4 fw-medium sub-heading">Ascend offers a 6-month membership guidance and support to acheive your career ambitions by elevating your mental and spiritual wellbeing.</p>
          </div>
          <div class="row">
            <div class="col-lg-6 col-sm-6 mb-6">
              <div class="card service-card shadow-hover rounded-3 text-center align-items-center">
                <div class="card-body p-xxl-5 p-4">
                  <img class="card-img-top" src="images/empowerment.jpg" style="200px;margin-bottom:1em;" alt="Rome, Italty" />
                  <h4 class="mb-3">Empowerment</h4>
                  <p class="mb-0 fw-medium">We believe in empowering women leaders to embrace their strengths and capabilities.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6 mb-6">
              <div class="card service-card shadow-hover rounded-3 text-center align-items-center">
                <div class="card-body p-xxl-5 p-4">
                  <img class="card-img-top" src="images/confidence.jpg" style="200px;margin-bottom:1em;" alt="Rome, Italty" />
                  <h4 class="mb-3">Confidence</h4>
                  <p class="mb-0 fw-medium">We foster an environment where women feel empowered to assert themselves and take ownership of their journeys.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6 mb-6">
              <div class="card service-card shadow-hover rounded-3 text-center align-items-center">
                <div class="card-body p-xxl-5 p-4">
                  <img class="card-img-top" src="images/support.jpg" style="200px;margin-bottom:1em;" alt="Rome, Italty" />
                  <h4 class="mb-3">Authenticity</h4>
                  <p class="mb-0 fw-medium">We encourage authenticity and celebrate the diversity of experiences and perspectives within our community.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6 mb-6">
              <div class="card service-card shadow-hover rounded-3 text-center align-items-center">
                <div class="card-body p-xxl-5 p-4">
                  <img class="card-img-top" src="images/support1.jpg" style="200px;margin-bottom:1em;" alt="Rome, Italty" />
                  <h4 class="mb-3">Support</h4>
                  <p class="mb-0 fw-medium">We are committed to providing unwavering support to women leaders as they navigate their paths to success.</p>
                </div>
              </div>
            </div>


          </div>
        </div><!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->



<%= render "homes/faqs" %>

      



      
      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="pt-6">

        <div class="container">
          <div class="py-8 px-5 position-relative text-center" style="background-color: rgb(174 160 221 / 40%);border-radius: 129px 20px 20px 20px;">
<!--             <div class="position-absolute end-0 top-0 z-index--1"> <img src="assets/img/cta/shape-bg2.png" width="264" alt="cta shape" /></div> -->
            <div class="position-absolute start-0 bottom-0 ms-3 z-index--1 d-none d-sm-block"> <img src="assets/img/cta/shape-bg1.png" style="max-width: 340px;" alt="cta shape" /></div>
            <div class="row justify-content-center">
              <div class="col-lg-8 col-md-10">
                <h2 class="text-secondary lh-1-7 mb-7" style="font-size:2em">Delve into your inner self and begin to view your career as your life's calling. Discover the inspiration to truly be yourself.</h2>
                <div class="text-center"> <a class="btn btn-primary btn-lg primary-btn-shadow" href="https://us06web.zoom.us/meeting/register/tZcud-2qqT0oHd3UO0zrnw-RO0W6HR5euA1f#/registration" target="blank" role="button" >Join a Free Session <i class="bi-arrow-up-right"></i></a> <br>

              </div>
              <p style="text-align:center;margin-top: 1em;">April 27th, Saturday. ☝️Register Now!</p>

              </div>
            </div>
          </div>
        </div><!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->




      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="pb-0 pb-lg-4" style="background-color:#423352">

        <div class="container">
          <div class="row">
<!--             <img class="mb-4" src="images/logo.png" width="250" alt="ascend" />
 -->
            
      
      <!-- <section> close ============================-->
      <!-- ============================================-->


      <div class="py-5 text-center">
        <p class="mb-0 text-secondary fs--1 fw-medium">All rights reserved. <i class="bi-c-circle"></i> 2024<br>unlockascend.com is a property of The UX Guys </p>
      </div>

          </div>
        </div><!-- end of .container-->

      </section>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->




    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="vendors/@popperjs/popper.min.js"></script>
    <script src="vendors/bootstrap/bootstrap.min.js"></script>
    <script src="vendors/is/is.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="vendors/fontawesome/all.min.js"></script>
    <script src="theme.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&amp;family=Volkhov:wght@700&amp;display=swap" rel="stylesheet">
  </body>


<style type="text/css">
  main {background:#F0E7FC;}
  .hero-title {font-size: 4em;max-width: 800px;margin:auto;} 
  .colored {color: #F28F79;}
  .sub-heading {font-size: 1.4em;max-width:700px;margin:1em auto;}

  .padding-transition {
  padding: 0.25rem !important;
  background-color: rgb(192 208 255 / 18%);
  box-shadow: 0px 2px 10px #eee;
}


.btn-secondary {border:none;color:#423352;background: #fff;padding:1em 2em}

.btn-secondary:hover {border:1px solid #423352;color:#fff;background: #423352;}

.btn-primary {border:none;color:#fff;background: #423352;padding:1em 2em}

.btn-primary:hover {border:1px solid #fff;color:#423352;background: #fff;}

.hero-container {min-height:500px;}

.dark-section {background:#25064D;}


@keyframes shake {
    0% { transform: translateX(0); }
    20% { transform: translateX(-10px); }
    40% { transform: translateX(10px); }
    60% { transform: translateX(-10px); }
    80% { transform: translateX(10px); }
    100% { transform: translateX(0); }
}

.shake-animation {
    animation: shake 0.5s ease infinite;
}




    .navbar-toggler {
      display: none;
    }



#25064D
#F0E7FC
#F2E7C4
#F28F79
#D99B96
</style>

